.text-card {
  hyphens: auto;
  width: min(500px, calc(100% - 1rem));
  min-height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  margin: 1rem;
  box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.5);
  background-color: #90909020;
  backdrop-filter: blur(5px);
  box-shadow: -1px -1px inset rgb(0, 0, 0, 0.15),
    2px 2px 2px inset rgba(255, 255, 255, 0.15), 6px 6px 6px rgb(0 0 0 / 15%);
}

.text-card p:nth-of-type(2) {
  flex-grow: 1;
}

.text-card .profile-small {
  padding: 0;
}

.text-card h3 {
  padding: 0.5rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.text-card p {
  grid-area: text;
  padding: 0.5rem;
  color: aliceblue;
  text-align: justify;
  overflow: none;
  hyphens: auto;
  font-weight: bold;
}

.text-card p:nth-of-type(2) {
  overflow: auto;
}
.experience .text-card {
}
