.login-background {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #90909020;
  z-index: 4;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.15),
    2px 2px 4px inset rgba(255, 255, 255, 0.15);
}
.login-menu form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-menu form * {
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
.login-menu form *:focus-visible {
  outline-style: none;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.397) inset;
}

.login-menu span {
  padding: 0;
  cursor: pointer;
}
