* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --velience-color: #00a3ff;
  --velience-color-transparent: #00a2ff70;
  --main-background: #e0e0e0;
  --main-text-color: white;
  --background-blue: #d3e2ec;
  --inner-shadow: #c2c2c2;
  --inner-box-light: rgb(255 255 255 / 15%);
  --box-shadow: rgb(0 0 0 / 15%);
  --half-transparent-background: #90909050;
  --text-hard-shadow: rgb(0 0 0 / 40%);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--velience-color-transparent);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--background-blue);
}

::-webkit-scrollbar-track {
  background: var(--half-transparent-background);
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
